body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("images/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    margin-top: 25vh;
    font-size: 70px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(140, 73, 52);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    font-family: 'Ubuntu', sans-serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px 25px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: rgb(140, 73, 52);
    color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.navbar_links {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.navbar_links p {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar_links img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1200px) {
    .name {
        font-family: 'Ubuntu', sans-serif;
        color: black;
        text-align: center;
        margin-top: 40vh;
        font-size: 50px;
    }
}