body, html {
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link, a:visited {
  background-color: #6f97a6;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10vh;
}

a:hover, a:active {
  background-color: #466568;
}

.title {  
    margin-top: 20vh;
    text-align: center;
}

.titleFont {
    font-family: 'Frijole';
    font-size: 100px;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.job {
    background-color:none;
    display: inline;
    border-radius: 5px;
    font-family: 'Gaegu';
    font-size: 26px;
}

.info {
    margin-top: 30vh;
    font-family: 'Gaegu';
    font-size: 24px;
    font-weight: 900;
}





