body, html {
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
  box-sizing: border-box;
}

a.resume:link, a.resume:visited {
  background-color: #6f97a6;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5vh;
  position: sticky;
  bottom: 5vh;
}

a.resume:hover, a.resume:active {
  background-color: #466568;
  position: sticky;
  bottom: 5vh;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.title {  
    margin-top: 0vh;
    text-align: center;
}

.titleFont {
    font-family: 'Monofett';
    font-size: 100px;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.work {
  background-color: #5F8089;
  padding-bottom: 0vh;
  margin-top: 20vh;
  opacity: 0.95;
  margin-left: 25vw;
  margin-right: 25vw;
}

.main {
  margin-left: 30vw;
  margin-right: 30vw;
}

.mePic {
  width: 50%;
  border-radius: 50%;
}

.titleRow::after {
  content: "";
  clear: both;
  display: table;
}

.projectblock {
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #B7D6E8;
  padding: 5vh;
  margin-bottom: 5vh;
  opacity: 1;
}

.job {
    background-color:none;
    display: block;
    border-radius: 5px;
    font-family: 'Gaegu';
    font-size: 26px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.description {
    font-family: 'Gaegu';
    font-size: 22px;
}

.workFont {
    background-color: #29484D;
    display: block;
    border-radius: 5px;
    font-family: 'Gaegu';
    font-size: 70px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 5vh;
    color: white;
}

.workFontEnd {
    background-color: #29484D;
    display: block;
    border-radius: 5px;
    font-family: 'Gaegu';
    font-size: 70px;
    padding-top: 3vh;
    padding-bottom: 0vh;
    margin-bottom: 0vh;
    color: white;
}

.info {
    font-family: 'Gaegu';
    font-size: 24px;
    font-weight: 900;
}

.top {
    margin-top: 5vh;
    font-family: 'Gaegu';
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    line-height: 0.1;
}

.links {
  text-align: center;
  padding-bottom: 30px;
}

.links p {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.links img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .main {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .mePic {
    width: 50%;
    border-radius: 50%;
  }

  .work {
    background-color: #5F8089;
    padding-bottom: 0vh;
    margin-top: 20vh;
    opacity: 0.95;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .projectblock {
    margin-top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    background-color: #B7D6E8;
    padding: 5vh;
  }
}
 





