body, html {
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.image:link, a.image:visited {
}

a.image:hover, a.image:active {
}


a.resume:link, a.resume:visited {
  background-color: #6f97a6;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5vh;
  position: sticky;
  bottom: 10px;
}

a.resume:hover, a.resume:active {
  background-color: #466568;
  position: sticky;
  bottom: 10px;
}

.title {  
    margin-top: 0vh;
    text-align: center;
}

.titleFont {
    font-family: 'Frijole';
    font-size: 100px;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.job {
    background-color:none;
    display: block;
    border-radius: 5px;
    font-family: 'Gaegu';
    font-size: 26px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.info {
    margin-top: 40vh;
    font-family: 'Gaegu';
    font-size: 24px;
    font-weight: 900;
}

.top {
    margin-top: 5vh;
    font-family: 'Gaegu';
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    line-height: 0.1;
}
 






